Scooby <- data.frame(imdb = c("7.2", "6.8", "7.5"))
str(Scooby$imdb)
#it is going to show the type of the serie
#if it is chr
Scooby$imdb <- as.numeric(Scooby$imdb)
#this code transforms the type of the serie to numeric
#Scooby$imdb is the name of the serie
