str(Scooby$imdb)
#it is going to show the type of the serie
#if it is chr
Scooby$imdb <- as.numeric(Scooby$imdb)
#this code transforms the type of the serie to numeric
#Scooby$imdb is the name of the serie
